{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content%}
<h1>About Our Hospital</h1> <br> <br>
<h2 style="color:#008000">CITY HOSPITAL PATHANAMTHITTA</h2>
<p style="color:red; padding: 30px; font-family: courier;
    font-size: 120%;"> Is a division of City Health Care. <br>
    Housed in a cluster of majestic buildings of architectural excellence and surrounded by <br>
    the scenic enchanting hillocks,City hospital has a host of unique features.<br>
    Founded under the aegis of the Muthoot Group, this health care provider has been in continuous <br>
    pursuits of excellence from its very inception on 11th July 2003.<br>
    This 300 bedded hospital is situated in the heart of Pathanamthitta.</p>
{% endblock %}