 *{
      box-sizing: border-box;
    }
    body{
        margin: 0;
        padding: 0;
        background-color: white;
    }

li:hover{
   backgrond-color:gray;
   border-radius:10px;
   border:1px solid yellow;

}

